
.workspace {
    background-color: #fff;
	&.center {
	    margin-left: auto;
	    margin-right: auto;
	}

	.portlet-placeholder {
		padding: 4px;
		&:after {
			content: ' ';
			display: block;
			height: 50px;
			outline: 1px dashed rgba(0,0,0,0.6) !important;
		}
	}
}