
body {
	background-color: #efefef;
	color: #333333;
}

#workspace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#workspace #design {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#selection {
    display: none;
    position: fixed;
    z-index: 15;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
    margin: 0;
    background: rgba(254,157,96,0.4);
    border-radius: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none
}

#selection .handler {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #ff6600;
    display: none;
    margin: 0;
    border-radius: 2px;
    border: 1px solid #dd5500
}

#selection .w {
    top: 50%;
    margin-top: -4px;
    left: -4px
}

#selection .e {
    top: 50%;
    margin-top: -4px;
    right: -4px
}

#selection .n {
    top: -4px;
    margin-left: -4px;
    left: 50%
}

#selection .s {
    bottom: -4px;
    margin-left: -4px;
    left: 50%
}

#selection .nw {
    top: -4px;
    left: -4px
}

#selection .ne {
    top: -4px;
    right: -4px
}

#selection .sw {
    bottom: -4px;
    left: -4px
}

#selection .se {
    bottom: -4px;
    right: -4px
}

#screens {
    overflow: visible;
    position: fixed;
    padding-top: 0px;
    padding-left: 180px;
    padding-right: 180px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll
}

#screens .themes {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -98px;
    width: 200px;
    text-align: left
}

#screens .screen {
    display: none;
    background: #e3e8ea;
    border: 1px solid #999999;
    border-radius: 10px;
    position: absolute;
    padding: 19px 19px 39px 19px;
    left: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#components {
    background-color: #f7f7f7;
    position: fixed;
    left: -180px;
    top: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 181px;
    z-index: 10;
    overflow: hidden;
    border-right: 1px solid #aaaaaa;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}

#screen_links {
    background-color: #f7f7f7;
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -180px;
    text-align: left;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}

#screen_links .links {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #cccccc
}

#inspector {
    background-color: #f7f7f7;
    border-left: 1px solid #c1c3c6;
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -180px;
    text-align: left;
    z-index: 11;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}

#inspector a.close {
    margin: 0 6px;
    cursor: pointer;
    line-height: 30px;
    font-size: 18px
}

